*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-top{
    flex-wrap: wrap;
}

.nav-itemsw{
    white-space: wrap;
    width: 100%;
    
    flex-wrap: wrap;
    overflow-wrap: break-word;
    outline: none;
    overflow: hidden;

}

.electronicss{
    
    color:white;
    font-size: 1em;
    
}
.all-item{
      
    flex-wrap: wrap;
    white-space: wrap;
    
    
    
    
}
.all-nav{
    background-color: blue;
    color: white;
    overflow: wrap;
}
.volume{
    font-size:5em;
    color: greenyellow;
}